<h3>データを読み込む</h3>

In [1]:
import numpy as np
import pandas as pd

In [2]:
#キリンホールディングスの自社株買い前後の累積異常リターン（CAR）を求める
df = pd.read_csv("stock_data/2503_2019.csv", encoding="shift-jis") 
df

             日付      始値      高値      安値      終値      出来高   終値調整値
0      2019/1/4  2253.5  2309.0  2250.5  2309.0  2627500  2309.0
1      2019/1/7  2394.5  2407.0  2348.5  2373.0  2256600  2373.0
2      2019/1/8  2390.5  2396.0  2345.5  2345.5  2532300  2345.5
3      2019/1/9  2378.5  2418.5  2372.5  2407.5  2717200  2407.5
4     2019/1/10  2360.0  2370.0  2328.0  2369.5  2018700  2369.5
..          ...     ...     ...     ...     ...      ...     ...
236  2019/12/24  2484.0  2485.0  2445.0  2451.0  1521600  2451.0
237  2019/12/25  2454.5  2463.0  2427.0  2433.5  1151200  2433.5
238  2019/12/26  2434.0  2458.0  2433.0  2458.0  1535700  2458.0
239  2019/12/27  2424.0  2424.5  2397.0  2403.0  1518900  2403.0
240  2019/12/30  2402.5  2410.5  2390.0  2390.0  1425700  2390.0

[241 rows x 7 columns]

<h3>マーキングをする</h3>

In [3]:
#キリンの自社株買いの実行日
df[df["日付"] == "2019/11/8"]

            日付      始値      高値      安値      終値      出来高   終値調整値
204  2019/11/8  2498.0  2585.0  2436.0  2518.5  8073400  2518.5

In [4]:
#自社株買い実行日をt＝０としたときの他の日のt
df["t"]= [i for i in range(-204, 37)]
df

             日付      始値      高値      安値      終値      出来高   終値調整値    t
0      2019/1/4  2253.5  2309.0  2250.5  2309.0  2627500  2309.0 -204
1      2019/1/7  2394.5  2407.0  2348.5  2373.0  2256600  2373.0 -203
2      2019/1/8  2390.5  2396.0  2345.5  2345.5  2532300  2345.5 -202
3      2019/1/9  2378.5  2418.5  2372.5  2407.5  2717200  2407.5 -201
4     2019/1/10  2360.0  2370.0  2328.0  2369.5  2018700  2369.5 -200
..          ...     ...     ...     ...     ...      ...     ...  ...
236  2019/12/24  2484.0  2485.0  2445.0  2451.0  1521600  2451.0   32
237  2019/12/25  2454.5  2463.0  2427.0  2433.5  1151200  2433.5   33
238  2019/12/26  2434.0  2458.0  2433.0  2458.0  1535700  2458.0   34
239  2019/12/27  2424.0  2424.5  2397.0  2403.0  1518900  2403.0   35
240  2019/12/30  2402.5  2410.5  2390.0  2390.0  1425700  2390.0   36

[241 rows x 8 columns]

In [5]:
df[df["日付"] == "2019/11/8"]

            日付      始値      高値      安値      終値      出来高   終値調整値  t
204  2019/11/8  2498.0  2585.0  2436.0  2518.5  8073400  2518.5  0

<h3>リターンを求める</h3>

In [6]:
df["r_i"] = (df["終値調整値"] - df["終値調整値"].shift(1))/ df["終値調整値"].shift(1)
df

,日付,始値,高値,安値,終値,出来高,終値調整値,t,r_i
0,2019/1/4,2253.5,2309.0,2250.5,2309.0,2627500,2309.0,-204,NaN
1,2019/1/7,2394.5,2407.0,2348.5,2373.0,2256600,2373.0,-203,0.027718
2,2019/1/8,2390.5,2396.0,2345.5,2345.5,2532300,2345.5,-202,-0.011589
3,2019/1/9,2378.5,2418.5,2372.5,2407.5,2717200,2407.5,-201,0.026434
4,2019/1/10,2360.0,2370.0,2328.0,2369.5,2018700,2369.5,-200,-0.015784
...,...,...,...,...,...,...,...,...,...
236,2019/12/24,2484.0,2485.0,2445.0,2451.0,1521600,2451.0,32,-0.012291
237,2019/12/25,2454.5,2463.0,2427.0,2433.5,1151200,2433.5,33,-0.007140
238,2019/12/26,2434.0,2458.0,2433.0,2458.0,1535700,2458.0,34,0.010068
239,2019/12/27,2424.0,2424.5,2397.0,2403.0,1518900,2403.0,35,-0.022376
240,2019/12/30,2402.5,2410.5,2390.0,2390.0,1425700,2390.0,36,-0.005410

In [7]:
#1306 東証ETF TOPIX連動型上場投資信託（ETF）
etf = pd.read_csv("stock_data/1306_2019.csv", encoding="shift-jis") 
etf

             日付    始値    高値    安値    終値      出来高  終値調整値
0      2019/1/4  1507  1519  1494  1519  2046840   1519
1      2019/1/7  1567  1572  1560  1562  2021930   1562
2      2019/1/8  1573  1581  1566  1569  2796380   1569
3      2019/1/9  1586  1592  1582  1584  2097150   1584
4     2019/1/10  1572  1579  1564  1574  1021260   1574
..          ...   ...   ...   ...   ...      ...    ...
236  2019/12/24  1793  1794  1787  1789   398780   1789
237  2019/12/25  1789  1789  1781  1782   822230   1782
238  2019/12/26  1781  1792  1781  1792   510650   1792
239  2019/12/27  1798  1803  1795  1800   847490   1800
240  2019/12/30  1789  1791  1781  1783  1786910   1783

[241 rows x 7 columns]

In [8]:
etf["r_m"] = (etf["終値調整値"] - etf["終値調整値"].shift(1))/ etf["終値調整値"].shift(1)
etf

             日付    始値    高値    安値    終値      出来高  終値調整値       r_m
0      2019/1/4  1507  1519  1494  1519  2046840   1519       NaN
1      2019/1/7  1567  1572  1560  1562  2021930   1562  0.028308
2      2019/1/8  1573  1581  1566  1569  2796380   1569  0.004481
3      2019/1/9  1586  1592  1582  1584  2097150   1584  0.009560
4     2019/1/10  1572  1579  1564  1574  1021260   1574 -0.006313
..          ...   ...   ...   ...   ...      ...    ...       ...
236  2019/12/24  1793  1794  1787  1789   398780   1789  0.000000
237  2019/12/25  1789  1789  1781  1782   822230   1782 -0.003913
238  2019/12/26  1781  1792  1781  1792   510650   1792  0.005612
239  2019/12/27  1798  1803  1795  1800   847490   1800  0.004464
240  2019/12/30  1789  1791  1781  1783  1786910   1783 -0.009444

[241 rows x 8 columns]

In [9]:
df["r_m"] = etf["r_m"]
df

,日付,始値,高値,安値,終値,出来高,終値調整値,t,r_i,r_m
0,2019/1/4,2253.5,2309.0,2250.5,2309.0,2627500,2309.0,-204,NaN,NaN
1,2019/1/7,2394.5,2407.0,2348.5,2373.0,2256600,2373.0,-203,0.027718,0.028308
2,2019/1/8,2390.5,2396.0,2345.5,2345.5,2532300,2345.5,-202,-0.011589,0.004481
3,2019/1/9,2378.5,2418.5,2372.5,2407.5,2717200,2407.5,-201,0.026434,0.009560
4,2019/1/10,2360.0,2370.0,2328.0,2369.5,2018700,2369.5,-200,-0.015784,-0.006313
...,...,...,...,...,...,...,...,...,...,...
236,2019/12/24,2484.0,2485.0,2445.0,2451.0,1521600,2451.0,32,-0.012291,0.000000
237,2019/12/25,2454.5,2463.0,2427.0,2433.5,1151200,2433.5,33,-0.007140,-0.003913
238,2019/12/26,2434.0,2458.0,2433.0,2458.0,1535700,2458.0,34,0.010068,0.005612
239,2019/12/27,2424.0,2424.5,2397.0,2403.0,1518900,2403.0,35,-0.022376,0.004464
240,2019/12/30,2402.5,2410.5,2390.0,2390.0,1425700,2390.0,36,-0.005410,-0.009444

<h3>回帰分析をおこないマーケットモデルを作成する</h3>

In [10]:
#推定期間スタート
df[df["t"] == -200]

,日付,始値,高値,安値,終値,出来高,終値調整値,t,r_i,r_m
4,2019/1/10,2360.0,2370.0,2328.0,2369.5,2018700,2369.5,-200,-0.015784,-0.006313

In [11]:
#推定期間エンド
df[df["t"] == -21]

,日付,始値,高値,安値,終値,出来高,終値調整値,t,r_i,r_m
183,2019/10/7,2267.5,2299.0,2267.5,2282.5,2036100,2282.5,-21,0.006615,-0.001842

In [80]:
kirin = df[["r_i"]][4:183]
kirin

          r_i
4   -0.015784
5    0.020046
6    0.004344
7    0.004943
8    0.009428
..        ...
178 -0.010167
179  0.000656
180 -0.000874
181 -0.010055
182  0.001325

[179 rows x 1 columns]

In [81]:
market = df[["r_m"]][4:183]
market

          r_m
4   -0.006313
5    0.004447
6    0.007590
7   -0.003766
8    0.004411
..        ...
178 -0.010241
179  0.010956
180 -0.004214
181 -0.018138
182  0.003079

[179 rows x 1 columns]

In [82]:
from sklearn import linear_model # 線形モデル関係
import statsmodels.api as smf # 統計量計算

Y = kirin["r_i"]
X = market["r_m"]

#単回帰分析モデルの作成
model = smf.OLS(Y,X) 
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    r_i   R-squared (uncentered):                   0.212
Model:                            OLS   Adj. R-squared (uncentered):              0.208
Method:                 Least Squares   F-statistic:                              47.89
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                    7.85e-11
Time:                        07:52:49   Log-Likelihood:                          512.95
No. Observations:                 179   AIC:                                     -1024.
Df Residuals:                     178   BIC:                                     -1021.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
r_m            0.7953      0.115      6.920      0.000       0.568       1.022
==============================================================================
Omnibus:                       43.568   Durbin-Watson:                   2.325
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              146.140
Skew:                          -0.916   Prob(JB):                     1.85e-32
Kurtosis:                       7.030   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [83]:
from sklearn import linear_model
clf = linear_model.LinearRegression()

Y = kirin[["r_i"]]
X = market[["r_m"]]

clf.fit(X,Y)

print(f"傾き : {clf.coef_[0][0]}")

print(f"切片 : {clf.intercept_[0]}")

#回帰式
print(f"回帰式 : y = {clf.intercept_[0]} + {clf.coef_[0][0]}x")

傾き : 0.796169610994807
切片 : -0.0003698317838563293
回帰式 : y = -0.0003698317838563293 + 0.796169610994807x

<h3>ベンチマークを計算する</h3>

In [84]:
df[df["t"] == -20]

,日付,始値,高値,安値,終値,出来高,終値調整値,t,r_i,r_m
184,2019/10/8,2286.5,2295.5,2251.0,2258.0,2013600,2258.0,-20,-0.010734,0.01107

In [85]:
df["expect"] = list(map(lambda x: clf.intercept_[0] + clf.coef_[0][0] * x, df["r_m"].values))
df

,日付,始値,高値,安値,終値,出来高,終値調整値,t,r_i,r_m,expect
0,2019/1/4,2253.5,2309.0,2250.5,2309.0,2627500,2309.0,-204,NaN,NaN,NaN
1,2019/1/7,2394.5,2407.0,2348.5,2373.0,2256600,2373.0,-203,0.027718,0.028308,0.022168
2,2019/1/8,2390.5,2396.0,2345.5,2345.5,2532300,2345.5,-202,-0.011589,0.004481,0.003198
3,2019/1/9,2378.5,2418.5,2372.5,2407.5,2717200,2407.5,-201,0.026434,0.009560,0.007242
4,2019/1/10,2360.0,2370.0,2328.0,2369.5,2018700,2369.5,-200,-0.015784,-0.006313,-0.005396
...,...,...,...,...,...,...,...,...,...,...,...
236,2019/12/24,2484.0,2485.0,2445.0,2451.0,1521600,2451.0,32,-0.012291,0.000000,-0.000370
237,2019/12/25,2454.5,2463.0,2427.0,2433.5,1151200,2433.5,33,-0.007140,-0.003913,-0.003485
238,2019/12/26,2434.0,2458.0,2433.0,2458.0,1535700,2458.0,34,0.010068,0.005612,0.004098
239,2019/12/27,2424.0,2424.5,2397.0,2403.0,1518900,2403.0,35,-0.022376,0.004464,0.003184
240,2019/12/30,2402.5,2410.5,2390.0,2390.0,1425700,2390.0,36,-0.005410,-0.009444,-0.007889